* {
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 48, 47);
  font-family: sans-serif;
  margin: 0;
}

#NumberGuesser{
  background-color: rgb(82, 79, 76);
  margin: 150px auto;
  width: 300px;
  height: auto;
  padding: 0 0 30px 0;
}

#NumberGuesserTitle {
  color: white;
  padding: 30px 0 10px 0;
  text-align: center;
}

#NumberGuesserForm input {
  border: none;
  display: block;
  font-size: 18px;
  height: 50px;
  margin: 5px auto;
  padding: 10px;
  width: 90%;
}

#NumberGuesser *:focus {
  border: solid 2px rgb(0, 153, 255);
}

.NumberGuesserLabeledInput {
  color: white;
  display: inline-flex;
  padding: 0 15px;
}

.NumberGuesserLabeledInput * {
  font-size: 18px;
  padding: 0 5px;
}

.NumberGuesserLabeledInput > input {
  border: none;
  width: 142px;
  height: 50px;
}

.winningNumber {
  background-color: rgb(112, 233, 112);
  color: rgb(52, 183, 52);
}

.winningNumber:focus {
  border: solid 2px rgb(72, 183, 72);
}